<form [formGroup]="formVeiculo" (ngSubmit)="cadastrar()" class="form-container">
  <h2 class="form-title">Cadastrar Veículo</h2>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Placa</mat-label>
      <input 
      matInput 
      formControlName="placa" 
      placeholder="ABC-1D34"
      mask="SSS-0S00" />
      <mat-error *ngIf="formVeiculo.get('placa')?.hasError('required')">
        Placa é obrigatória
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo" placeholder="Digite o modelo" />
      <mat-error *ngIf="formVeiculo.get('modelo')?.hasError('required')">
        Modelo é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Capacidade</mat-label>
      <input
        matInput
        type="number"
        formControlName="capacidade"
        placeholder="Digite a capacidade"
      />
      <mat-error *ngIf="formVeiculo.get('capacidade')?.hasError('required')">
        Capacidade é obrigatória
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Ano de Fabricação</mat-label>
      <input
        matInput
        type="number"
        formControlName="anoFabricacao"
        placeholder="Digite o ano de fabricação"
      />
      <mat-error *ngIf="formVeiculo.get('anoFabricacao')?.hasError('required')">
        Ano de fabricação é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="ativo">Ativo</mat-option>
        <mat-option value="inativo">Inativo</mat-option>
      </mat-select>
      <mat-error *ngIf="formVeiculo.get('status')?.hasError('required')">
        Status é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="formVeiculo.invalid"
      class="submit-button"
    >
      Cadastrar
    </button>
  </div>
</form>
