/* cards.component.scss */
.container {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.filters-icon {
  position: absolute;
  top: -30px;
  right: 50px;
  mat-icon {
    cursor: pointer;
    font-size: 28px;
  }
}

.card-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.status-card {
  flex: 1;
  min-width: 300px;
  max-width: 350px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.status-card h2 {
  text-align: center;
  color: #4b0082;
  margin-bottom: 1rem;
}

.info-card {
  background: #4b0082;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
}

.info-header {
  background: #4b0082;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.info-header button {
  background: #633e97;
  color: white;
  border-radius: 8px;
  border: none;
  width: 250px;
  height: 49px;
  font-size: 20px;
}

.dates {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  text-align: right;
}

.info-details {
  background: #1a1a1a;
  padding: 1rem;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-grow: 1; /* <-- Faz o conteúdo expandir igualmente */
}

.location {
  margin-bottom: 1rem;
}

.divider {
  border-top: 1px solid #333;
  margin: 0.5rem 0;
}

.cargo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.price {
  color: #ff4c4c;
}

.driver {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* --------- Responsividade --------- */
@media (max-width: 768px) {
  .status-card {
    flex: none;
    width: 100%;
    max-width: 400px;
  }

  .card-wrapper {
    justify-content: center;
  }
}
