<div class="navbar-container" *ngIf="mostrarNav">
  <div class="logo">
    <img
      src="../../../../../../netflixLogo.jpg"
      alt=""
      routerLink="principal"
    />
  </div>
  <div class="header-links">
    <button mat-button routerLink="/listaVeiculos">Veiculos</button>
    <button mat-button routerLink="/listaEmpresas">Empresas</button>
    <button mat-button routerLink="/listaMotoristas">Motoristas</button>
    <button mat-button routerLink="/listaViagens">Viagens</button>
  </div>
</div>
